<div class="card">
  <div class="card-header">
    <h4 style="color: rgb(212, 30, 218);">Welcome Admin !  Assign WorkItem to the Associates</h4>
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="assign()" [formGroup] ="workAssignForm">

    <div class="table-responsive form-group">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>EmployeeID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>WorkType</th>
            <th>WorkItemDesc</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let emp of allEmployees">
              <td>{{emp.id}}</td>
              <td>{{emp.firstName}}</td>
              <td>{{emp.lastName}}</td>
              <td>
                  <select formControlName = "workType" (change)="selectWorkType($event)">
                    <option value="0">----SELECT----</option>
                    <option *ngFor ="let workType of workTypes" [value]="workType.workTypeCode + '-' + workType.workTypeDesc">
                      {{workType.workTypeCode + '-' + workType.workTypeDesc}}</option>
                  </select>
                </td>
                <td>
                  <select formControlName = "workItem" (change)="selectWorkItem($event)">
                    <option value="0">----SELECT----</option>
                    <option *ngFor ="let workItem of workItems" [value]="workItem.workItemCode + '-' + workItem.workItemDesc">
                      {{workItem.workItemCode + '-' + workItem.workItemDesc}} </option>
                  </select>
                </td>
            <td>
              <button class="btn btn-outline-primary btn-sm" type="submit" >Assign</button>
                {{clickMessage}}
            </td>
          </tr>
        </tbody>

      </table>
    </div>
   </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 style="color: rgb(212, 30, 218);">Edit/Delete the associate details</h4>
  </div>

  <div>

    <div class="table-responsive">
      <table class="table table mb-0">
        <tbody>
          <tr *ngFor="let emp of allEmployees">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>
              <a class="btn">
                 <i class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <a class="btn text-danger" (click) ="deleteEmployee(emp.id)">
                 <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


